In [225]:
import pandas as pd

In [226]:
data = pd.read_csv('1111.csv')

In [227]:
data.head()

  Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS
0                           BRAKE STICK GN125.   750
1                                                  2
2                          BRAKE STICK CG125.    750
3                                                  3
4                        BRAKE STICK BM150.     1200

In [228]:
# create a column 

data.shape

(157, 1)

In [229]:

data.head()

  Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS
0                           BRAKE STICK GN125.   750
1                                                  2
2                          BRAKE STICK CG125.    750
3                                                  3
4                        BRAKE STICK BM150.     1200

In [230]:
# data = data.filter(items=["id" + str(x) for x in range(len(data) + 1) if x % 2 != 0], axis=1)
# data.shape
data1 = data.iloc[::2]
data1.head()

  Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS
0                           BRAKE STICK GN125.   750
2                          BRAKE STICK CG125.    750
4                        BRAKE STICK BM150.     1200
6                         BRAKE  STICK  TVSHLX. 1200
8                       OIL COOLER CG125/GN.    2000

In [231]:
data2 = data1.rename(columns={"Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS": "Parts"})

In [232]:
data2.shape

(79, 1)

In [233]:
data2.astype('str')

                                           Parts
0                       BRAKE STICK GN125.   750
2                      BRAKE STICK CG125.    750
4                    BRAKE STICK BM150.     1200
6                     BRAKE  STICK  TVSHLX. 1200
8                   OIL COOLER CG125/GN.    2000
..                                           ...
148      BACK ALLOW WHEEL RIM TVSHLX125.  75,000
150   BACK ALLOY WHEEL RIM CGL125 BLACK.  75,000
152       FRONT ALLOY WHEEL RIM GN125.    65,000
154   FRONT ALLOY WHEEL T BM150. BLACK    75,000
156  FRONT ALLOY WHEEL RIM CGL125 BLACK.  75,000

[79 rows x 1 columns]

In [234]:
data2['Parts'] = data2['Parts'].str.replace(',','')
# df['x']=df['x'].str.replace(',','')

In [235]:
data2.head()

                          Parts
0      BRAKE STICK GN125.   750
2     BRAKE STICK CG125.    750
4   BRAKE STICK BM150.     1200
6    BRAKE  STICK  TVSHLX. 1200
8  OIL COOLER CG125/GN.    2000

In [236]:


# data = {'Identifier': ['IDAA-111','IDB-2222222','IDCCC-33']}
# data2 = data2(data, columns= ['Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS'])

# import pandas as pd

# data = {'Identifier': ['IDAA-111','IDB-2222222','IDCCC-33']}
# data3 = data3.DataFrame(data2, columns= ['Parts'])
data2['Price'] = data2['Parts'].str.split('.').str[1]


data2.head()

# data2['Price'] = data2.str.split('.').str[1]

# # print (after_symbol)
# data2['Price']

                          Parts      Price
0      BRAKE STICK GN125.   750        750
2     BRAKE STICK CG125.    750        750
4   BRAKE STICK BM150.     1200       1200
6    BRAKE  STICK  TVSHLX. 1200       1200
8  OIL COOLER CG125/GN.    2000       2000

In [237]:
data2['Price'] = data2['Parts'].str.replace('.','').str[1] 
data2.head()

<ipython-input-237-fecefb44e51b>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data2['Price'] = data2['Parts'].str.replace('.','').str[1]

                          Parts Price
0      BRAKE STICK GN125.   750     R
2     BRAKE STICK CG125.    750     R
4   BRAKE STICK BM150.     1200     R
6    BRAKE  STICK  TVSHLX. 1200     R
8  OIL COOLER CG125/GN.    2000     I

In [238]:
csv_data = data1.to_csv('1112.csv', index=False)