In [270]:
import pandas as pd
import numpy as np

In [271]:
data = pd.read_csv('1111.csv')

In [272]:
data.head()

   Id Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS
0   1                           BRAKE STICK GN125.   750
1   2                                                NaN
2   3                                                  2
3   4                                                NaN
4   5                          BRAKE STICK CG125.    750

In [273]:
data['Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS'].str.contains('.').value_counts()[True]

157

In [274]:
# create a column 

data.shape

(314, 2)

In [275]:

data.head()

   Id Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS
0   1                           BRAKE STICK GN125.   750
1   2                                                NaN
2   3                                                  2
3   4                                                NaN
4   5                          BRAKE STICK CG125.    750

In [276]:

# data = data[data['Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS'].str.len()>=3]
# data.head()

In [277]:
data2 = data.rename(columns={"Nigeria custum: PRICE LIST FOR MOTORCYCLE SPARE PARTS": "Parts"})

In [278]:
data2.shape

(314, 2)

In [279]:
# using pandas.Series.str allows us to implement "normal" string methods 
# (like split) on a Series
data2.astype('str')

      Id                                        Parts
0      1                     BRAKE STICK GN125.   750
1      2                                          nan
2      3                                            2
3      4                                          nan
4      5                    BRAKE STICK CG125.    750
..   ...                                          ...
309  310   FRONT ALLOY WHEEL T BM150 BLACK.    75,000
310  311                                          nan
311  312                                           80
312  313                                          nan
313  314  FRONT ALLOY WHEEL RIM CGL125 BLACK.  75,000

[314 rows x 2 columns]

In [280]:
data2['Parts'] = data2['Parts'].str.replace(',','')
# df['x']=df['x'].str.replace(',','')

In [281]:
data2.head()

   Id                      Parts
0   1   BRAKE STICK GN125.   750
1   2                        NaN
2   3                          2
3   4                        NaN
4   5  BRAKE STICK CG125.    750

In [282]:

# data2['Price'] = data2['Parts'].str.split('.').str[1]


# data2.head()

In [283]:
data2['Price'] = data2['Parts'].str.split('.').str[1]
data2.head()

   Id                      Parts    Price
0   1   BRAKE STICK GN125.   750      750
1   2                        NaN      NaN
2   3                          2      NaN
3   4                        NaN      NaN
4   5  BRAKE STICK CG125.    750      750

In [284]:

print (data2['Price'].iloc[0])

   750

In [285]:
for index, row in data2.iterrows():
    data2.astype('str') 
    find = data2['Price'].iloc[index]
    
    string = data2['Parts'].iloc[index]
    find = str(find) 
    string = str(string)
    go = string.replace(find, "") 
    data2['Parts'].iloc[index] = go
    # f["text"] = [str(x).replace(':',' ') for x in df["text"]]
    # data2['Parts'].iloc[index] = go
    # new = print(data2['Parts'].string.replace(find, ""))
    # string.replace("1", "") 
    # print(go)
data2.head()

/Users/fredy/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

   Id               Parts    Price
0   1  BRAKE STICK GN125.      750
1   2                          NaN
2   3                   2      NaN
3   4                          NaN
4   5  BRAKE STICK CG125.      750

In [286]:

data2 = data2[data2['Parts'].str.len()>=3]
data2.head()

    Id                  Parts      Price
0    1     BRAKE STICK GN125.        750
4    5     BRAKE STICK CG125.        750
7    8     BRAKE STICK BM150.       1200
11  12  BRAKE  STICK  TVSHLX.       1200
15  16   OIL COOLER CG125/GN.       2000

In [287]:
# data2[Id] = np.arange(1, len(data2)-1)
# data2.head()

In [288]:
# data2['Price'] = [x.split('.')[1] for x in data2['Parts']]
# data2.head()

In [289]:
# data2['Parts'] = data2['Parts'].split(".", 1)

In [290]:
# # # sep = '.'
# # # data2['Parts'].astype('str') 
# # # data2['new'] = data2['Parts'].split(sep, 1)[0]
# # sub_str = "."
# # data2['new'] = data2['Parts'][:data2['Parts'].index(sub_str) + len(sub_str)]

# # 

# data2['Parts'][data2['Parts'].rindex('-')+1:]
# data2.head()

In [291]:
csv_data = data2.to_csv('1113.csv', index=False)